.header {
  height: 60px;
  background-color: white;
  padding-left: 8vw;
  padding-right: 8vw;
}

.logoText {
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  display: grid;
  place-items: center;
}

.logoTextSub {
  font-size: 18px;
  font-weight: 500;
  height: 51px;
  display: grid;
  place-items: center;
}

.links {
  display: flex;
  list-style-type: none;
}

.links li {
  margin-right: 10px;
}
